.index-body h1 {
    text-align: center;
}
.index-body img {
    position: static;
    margin: 20px;
}
.index-body {
    height: 200vh;
    background-color: skyblue;
    font-family: 'Comic Sans MS', cursive;
}
.relative-body h1 {
    text-align: center;
}
.relative-body img {
    position: relative;
    margin: 20px;
    transform: translate(200px);
}
.relative-body {
    height: 200vh;
    background-color: lightgreen;
    font-family: 'Comic Sans MS', cursive;
}
.relative-page {
    position: relative;
    margin: 20px;
}
.fixed-body h1 {
    text-align: center;
}
.fixed-body img {
    position: fixed;
    margin: 20px;
    transform: translate(200px);
}
.fixed-body {
    height: 200vh;
    background-color: orange;
    font-family: 'Comic Sans MS', cursive;
}
.fixed-page {
    position: fixed;
    margin: 20px;
}